EMAIL_HOST="smtp.gmail.com"
EMAIL_USER=""
EMAIL_PASS=""
RABBITMQ_URL=amqpq://<container-docker>:<container-docker-password>@rabbitmq:5672
NOTIFICATION_API_KEY=8qGvFZQ5XfbTnRjPdsaWHvyKrGJE63tzMkCy9pnUA2ELq6Xb7mNRXZ4DfyVqsgT1